{{#> main-template.html.hbs}}
  {{#*inline "title"}}{{post.title}} - {{additionalValues.blogName}}{{/inline}}
  {{#*inline "body"}}
    <article>
      <hgroup>
        <h1>{{post.title}}</h1>
        {{#post.showPubDate}}
          <div class="date">{{post.pubDate}}</div>
        {{/post.showPubDate}}
      </hgroup>

{{{post.content}}}

    </article>
  {{/inline}}
{{/main-template.html.hbs}}